extends layouts/main

block title
  | 404

block content
  .container
    h1.text-center Entschuldigung.
    h3.text-center Diese Seite existiert nicht.
    p.text-center Die Seite <code>#{url}</code> konnte nicht gefunden werden; wir werden versuchen, den Fehler zu beheben.
