extends layouts/main

block content
  .container
    .row
      .col-md-12
        h1 <span style="font-weight: 200;">Die XIMERA-Seite von Ulrich Görtz</span>
    .row
      .col-md-12
        a.btn.btn-primary.btn-lg.pull-right(href="/course/") Kurse anschauen

    hr.frontpage
    .row
      .col-md-6
        p Diese Seiten verwenden das <a href="https://github.com/kisonecat/ximera">XIMERA</a>-Projekt von Jim Fowler und anderen, um Online-Übungsaufgaben und andere interaktive Materialien zu meinen Lehrveranstaltungen zur Verfügung zu stellen. Im Moment befinden sich die Seiten noch in einem sehr experimentellen Stadium, insofern bitte ich um Nachsicht, wenn das eine oder andere nicht richtig funktioniert. Es ist geplant, die Seiten nach und nach weiter auszubauen, im Wintersemester 2014/15 speziell begleitend zu der Vorlesung Mathematik für Wirtschaftswissenschaftler.


    hr.frontpage
    h3.text-center.frontpage Probleme?
    p.text-center Bei Problemen mit dieser Seite, schicke bitte eine Email an ulrich.goertz@uni-due.de
