extends layouts/main

block content
  .callout
     .container
       .row
         .col-md-12
           h1 <span style="font-weight: 200;">The</span> <span style="font-weight: 700;">Ximera</span> <span style="font-weight: 200;">Projekt</span>
       .row
         .col-md-12
           h2 XXX
       .row
         .col-md-12
           h2 XXX
       .row
         .col-md-12
           a.btn.btn-primary.btn-lg.pull-right(href="/course/") Kurse anschauen

  .container
    .row
      .col-md-4
        a.giant-badge(href="/about/who#educators")
          <i class="fa fa-4x fa-book"></i>
          h3 For Educators
          p Ximera lets you write documents in LaTeX and post them as interactive activities online for your students.
          p By relying on GitHub to store content, you can easily share activities with your colleagues.
      .col-md-4
        a.giant-badge(href="/about/who#students")
          <i class="fa fa-4x fa-pencil"></i>
          h3 For Students
          p Ximera brings the classroom to you, wherever you are.
          p You can use your favorite device to study math anywhere, anytime.
      .col-md-4
        a.giant-badge(href="/about/who#researchers")
          <i class="fa fa-4x fa-flask"></i>
          h3 For Researchers 
          p Ximera computes statistics on student success, such as point biserials.
          p By creating branches in GitHub, you can quickly run A/B tests on student performance.


    hr.frontpage
    h3.text-center.frontpage Probleme?
    p.text-center Bei Problemen mit dieser Seite, schicke bitte eine Email an ulrich.goertz@uni-due.de
