div(ng-show="db.shown")
  p
    | Anteil der Benutzer, die letztendlich korrekt antworten: {{db.answerAnalytics.percentUsersCorrect}}%
  p
    | Durchschnittliche Anzahl von Versuchen bis zur korrekten Antwort: {{db.answerAnalytics.averageResponsesBeforeCorrect}}
  p
    | Anteil der Benutzer, die versuchen, diese Aufgabe zu lösen: {{db.answerAnalytics.percentAttempting}}%
  p
    | Anzahl aller Versuche: {{db.answerAnalytics.totalAttempts}}
  p
    | Anzahl aller korrekten Antworten: {{db.answerAnalytics.totalCorrect}}
  p
    | Häufigste falsche Antworten:
    ul
      li(ng-repeat="answer in db.answerAnalytics.sortedWrongAnswers")
        | {{answer[1]}} attempts: {{answer[0]}}
