div
  textarea(ng-model="db.code")
  div.btn-toolbar(role="toolbar")
    div.btn-group(ng-switch="",on='db.running')
      button.btn.btn-default.run(ng-switch-default="",ng-click='runCode()',type="button") <i class="fa fa-play"></i> Ausführen
      button.btn.btn-default.run(ng-switch-when="running",type="button") <i class="fa fa-stop"></i> Stop
    div.btn-group(ng-switch="",on='db.message')
      button.btn.btn-success(ng-click='attemptAnswer()',ng-switch-when="correct",data-toggle="tooltip",data-placement="top",title="Die Antwort ist richtig!")
        i.fa.fa-check
        | &nbsp;Richtig
      button.btn.btn-danger(ng-click='attemptAnswer()',ng-switch-when="incorrect",data-toggle="tooltip",data-placement="top",title="Falsch. Versuchen Sie es noch einmal!")
        i.fa.fa-times
        | &nbsp;Nochmal versuchen
      button.btn.btn-primary(ng-click='attemptAnswer()',ng-switch-default,data-toggle="tooltip",data-placement="top",title="Klicken Sie, um die Antwort zu überprüfen")
        i.fa.fa-question
        | &nbsp;Antwort überprüfen
  pre
    | {{db.console}}
