footer.navbar.navbar-inverse.navbar-static-bottom
    .container
      .row
        .col-sm-3.address
          p
            :markdown
              [XIMERA](https://github.com/kisonecat/ximera) built by Jim Fowler and others at [OSU](http://www.osu.edu/)
          p
            :markdown
              Built on [Node.js](http://nodejs.org/)
