div#osu_navbar(role="navigation")
  div.container
    div.univ_info
      p.univ_name
        a(href="http://www.uni-due.de/",title="Universität Duisburg-Essen") UDE
    div.univ_links
      div.links
        ul
          li
            a(href="http://www.esaga.uni-due.de/ulrich.goertz") Prof. Dr. Ulrich Görtz


