extends ../layouts/main

block title
  | Courses

mixin course(course)
  a(href="/course/#{course.slug}/")
    h3 #{course.name}

block content
  .container
     mixin breadcrumbs(['/course/'],['Courses'])
     .page-header
       h1 Courses
     - for course in courses
       mixin course(course)
       hr
