extends ../layouts/main

block title
  | Courses

mixin course(course)
  a(href="/course/#{course.slug}/")
    h3 #{course.name}

block content
  .container
     mixin breadcrumbs(['/course/'],['Kurse'])
     .page-header
       h1Kurse
     - for course in courses
       mixin course(course)
       hr
